body {
  background-color: #c9e9d2;
}

h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
  font-family: "Roboto Flex", sans-serif;
  color: #3e5f44;
}

.glow {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(0, 0, 0, 0.5),
    0 0 45px rgba(0, 0, 0, 0.4);
}
.color {
  color: black;
  font-size: 18px;
}
button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(206, 234, 206);
}
